name: ci - auto-add issues/PRs to Project

on:
  issues:
    types: [opened, labeled, reopened]
  pull_request:
    types: [opened, ready_for_review, reopened, synchronize, labeled]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  add_to_project:
    name: Add to org Project V2
    runs-on: ubuntu-latest
    steps:
      - name: Add current item (issue/PR) to Project
        uses: actions/add-to-project@v0.6.1
        with:
          # 👉 make sure this URL matches your org project exactly
          project-url: https://github.com/orgs/napier-devops-group13/projects/1
          github-token: ${{ secrets.ORG_PROJECTS_TOKEN }}
